 <div class="jumbotron text-center">
    <div class="overlay">
       <div class="backgrouns-image">
       </div>
       <div class="caption">
           <h1>Mongo Scraper</h1>
           <p>Hypebae Edition</p>
       </div>
    </div>
</div>
<div class="container-fluid article-container">
</div>
{{!-- <div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    {{#each Articles}}
                    <div class="card-body">
                        <h3>{{this.title}}</h3>
                        <p class="card-text">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Notes</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
                                </div>
                            </div>
                        </p>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div> --}}